.Layout{
    background-image: url("./resources/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;

}

.image-container {
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
  
  .image-container img {
    margin-right: auto;
    margin-left: 76%;
  }

  .layout {
    margin: 0 50px 100px 50px;
    
  }
  
  .card--grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
  }
  
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
  }
  
  .card--dashboard {
  
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 3px 3px 10px #656565;
  }
  
  .title--dashboard{
    margin-left: 20px;
  }
  
  .card--dashboard img {
    width: 100px;
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);  
  }
  
  .card--dashboard .description {
    position: relative;
    top: 55px;
    margin-left: 20px;
    font-style: italic;
  }
  
  .card--dashboard button {
    color: white;
    border: 0px solid black;
    border-radius: 3px;
    background-color: #00A58E;
    position: relative;
    top: 0px;
    left: 100%;
    transform: translateX(-80px);
    width: 60px;
    height: 50px;
  }
  
  .card--dashboard button:hover {
    background-color: #007464;
  }
  
  .dashboard--menu--btn--link {
    text-decoration: none;
    color: white;
  }
  
  .self-center {
    align-self: center;
  }
  
  .t1 {
    align-self: center;
    color: #0B186B;
    margin: 0;
  }
  
  .t2 {
    align-self: center;
    margin: 0;
    color: #656565;
    font-weight: normal;
  }
  
  .t3 {
    align-self: center;
    color: #da0000;
    margin: 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  
  .width-80 {
    width: 80%;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  
  .margin-20 {
    margin: 20px;
  }


  
